<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="./css/product.css">
</head>
<body>
    <footer>
        <h1> Lista de Produtos </h1>
        <form action="">
            <input type="text" name="" id="" placeholder="Filtrar">
        </form>
    </footer>
    <main>
        <table class="table">
            <tr><th>Id</th><th>Nome</th><th>Descrição</th></tr>
            <!-- <tr class="hide"><td>Id</td><td>Nome</td><td>Descrição</td></tr> -->
            <%- table %>
        <table>
    </main>

</body>
</html>