* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

header {
    background-color: rgb(17, 16, 17);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    color: wheat;
    box-shadow: 0 0 0.1em 0.05em;
}

body {
    background-color: thistle;
    height: 100vh;
}

main {
    background-color: lightyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 100%;
}

footer {
    background-color: darkmagenta;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 0.1em 0.05em;
}

section {
    background-color: lightgray;
    min-width: 300px;
    height: 300px;
    margin: 1.5rem;
    /* border-radius: 1rem; */
    box-shadow: 0 0 0.1em;
}

.verb {
    width: 100%;
    height: 15%;
    background: thistle;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 0.1em 0.05em;
}

form {
    /* background-color: blueviolet; */
    height: 85%;
    padding: 1rem;
    padding-top: 0.5rem;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

input {
    width: 100%;
    height: 2rem;
    margin-bottom: 0.25rem;
}

input[type="submit"] {
    background-color: thistle;
    border: none;
    box-shadow: 0 0 0.1em 0.05em;
    margin-top: 1rem;
}

ul {
    padding: 2rem;
    /* background-color: teal; */
}

li {
    margin: 1rem;
}
